{% extends 'store/main.html' %}
{% load static %}
{% block content %}
	<div class="row">
		<div class="col-lg-4">
			<img class="thumbnail" src="{% static 'images/book1.jpg' %}">
			<div class="box-element product">
				<h6><strong>Lập trình với PLC</strong></h6>
				<hr>

				<button  class="btn btn-outline-secondary add-btn">Thêm vào giỏ hàng</button>
				<a class="btn btn-outline-success" href="#">View</a>
				<h4 style="display: inline-block; float: right"><strong>60000đ</strong></h4>

			</div>
		</div>

		<div class="col-lg-4">
			<img class="thumbnail" src="{% static 'images/book2.jpg' %}">
			<div class="box-element product">
				<h6><strong>Lập trình hệ thống nhúng với Raspberry</strong></h6>
				<hr>
				
				<button  class="btn btn-outline-secondary add-btn">Thêm vào giỏ hàng</button>
				<a class="btn btn-outline-success" href="#">View</a>
				<h4 style="display: inline-block; float: right"><strong>125000đ</strong></h4>
				
			</div>
		</div>

		<div class="col-lg-4">
			<img class="thumbnail" src="{% static 'images/book3.jpg' %}">
			<div class="box-element product">
				<h6><strong>An toàn dữ liệu</strong></h6>
				<hr>

				<button  class="btn btn-outline-secondary add-btn">Thêm vào giỏ hàng</button>
				<a class="btn btn-outline-success" href="#">View</a>
				<h4 style="display: inline-block; float: right"><strong>90000đ</strong></h4>

			</div>
		</div>
	</div>

{% endblock content %}